.lead {
  margin: 0;
}

@media screen and (min-width: 1024px) {
    .lead {
      margin: 0 48px 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
      margin: 0 148px;
      max-width: 984px;
    }
}
