.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1280px) {
    .cover {
      margin: 0 48px;
    }
}
