.cover__overlay {
  color: #fff;
  text-decoration: none;
  min-height: 200px;
  display: block;
  background-color: rgba(42, 44, 47, 0.3);
  transition: .5s;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, .8);
  }

  @media screen and (min-width: 768px) {
    .cover__overlay {
      min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__overlay {
      min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__overlay {
      min-height: 740px;
    }
}
