.place {
  display: grid;
  grid-template-columns: minmax(320px, auto);
  gap: 32px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .place {
      grid-template-columns: minmax(340px, auto) minmax(352px, auto);
      margin-bottom: 73px;
      gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
      grid-template-columns: minmax(440px, auto) minmax(456px, auto);
      margin-bottom: 80px;
      gap: 48px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
      grid-template-columns: minmax(460px, auto) minmax(484px, auto);
      margin-bottom: 80px;
      gap: 48px 40px;
    }
}
